.llm_card_logo_img img{
    width: 4.5vh;
}

.dora_heading1{
    font-size: 2.2vh;
}

.dora_heading2{
    font-size: 2vh;
    font-weight: 200;
}

.llm_card{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 0.5px solid gray;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 50px;
}

.llm_card_container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.active_card{
    background-color: rgb(246, 212, 103);
    border: 0px;
    color: rgb(0, 0, 0);
}

