.main{
    width: 100vw;
    overflow: hidden;
}

.main_session{
    display: flex;
}

.main_session_a{
    flex: 1;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_session_b{
    flex: 1;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dora_login_options{
    display: flex;
    justify-content: space-between;
}

.dora_remember{
    display: flex;
}

.main_session_a_container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main_session_a_login{
    width: 50%;
    margin: auto;
}

.dora_footer_text{
    display: flex;
    justify-content: space-between;
}

.dora_logo{
    padding: 20px 0;
}

.dora_footer_text{
    padding: 20px 0;
}

.main_session_b_image img{
    width: 90%;
    height: 95vh;
    object-fit: cover;
    display: flex;
    margin: auto;
}


